/* aim de mira */
#aim {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    background-image: url(icons/ain.svg);
    background-repeat: no-repeat;
    background-position: center center;
    /* para não capturar eventos de click */
    pointer-events: none;
}

/* estilo pra div do click */
.click_mark {
    position: absolute;
    background-image: url(icons/ainMark.svg);
    width: 48px;
    height: 48px;
    opacity: 1;
    animation: markAnimation 0.5s ease-in-out forwards;
}

@keyframes markAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


