/* imports */
@import url(alvo.css);
@import url(reset.css);


/* rooot de variaveis */
:root {
    --colorBg1: #1e1936;
    --colorBg2: #2e255c;
    --colorBg3: #463c7a;
    --white: #ffffff;
    --black: #00030c;
    --font: Arial, Helvetica, sans-serif;

    --colorRed: #da1414;
    --colorYellow: #e0dd29;
    --colorGreen: #34df2e;
}

/* body */

body {
    background-image: linear-gradient(135deg ,var(--colorBg1), var(--colorBg2), var(--colorBg3));
    cursor: none;
    height: 100vh;
    width: 100vw;
}


/* main */

main {
    height: calc(100% - 100px);
}

footer {
    height: 100px;
    background-image: url(img/MetalTexture.png);
}


/* icone de mira */

#icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    background-image: url(icons/ain.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
