/* imports */
@import url(alvo.css);
@import url(reset.css);
@import url(aim.css);

/* rooot de variaveis */
:root {
/* Outras variaveis */
    --font: Arial, Helvetica, sans-serif;

/* variaveis do preto e branco que eu gosto */
    --white: #ffffff;
    --black: #00030c;

/* variaveis da cor do ceu */
    --colorBlueSky: #2790b0;

/* variaveis da cor dos alvos */
    --colorRedAlvo: #d71d0b;
    --colorYellowAlvo: #eaf566;
    --colorGreenAlvo: #26b528;

/* variaveis da cor do futer bg */
    --colorBgFooter1: #008f00;
    --colorBgFooter2: #13a214;
    --colorBgFooter3: #26b528;
    --colorBgFooter4: #38c73b;
    --colorBgFooter5: #4bda4f;
}

/* body */

body {
    background-color: var(--colorBlueSky);
    height: 100vh;
    width: 100vw;
/* para impedir a seleção de textos e quebrar a jogabilidade */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


/* main */

main {
    height: 85%;
}

footer {
    height: 15%;
}

