/* imports */
@import url(alvo.css);
@import url(reset.css);
@import url(aim.css);

/* rooot de variaveis */
:root {
/* Outras variaveis */
    --font: Arial, Helvetica, sans-serif;

/* variaveis do preto e branco que eu gosto */
    --white: #ffffff;
    --black: #00030c;

/* variaveis da cor do ceu */
    --colorBlueSky: #2790b0;

/* variaveis da cor dos alvos */
    --colorRedAlvo: #d71d0b;
    --colorYellowAlvo: #eaf566;
    --colorGreenAlvo: #26b528;

/* variaveis da cor do futer bg */
    --colorBgFooter1: #008f00;
    --colorBgFooter2: #13a214;
    --colorBgFooter3: #26b528;
    --colorBgFooter4: #38c73b;
    --colorBgFooter5: #4bda4f;

/* borda do footer */
    --colorBdFooter: #215f21;
}

/* body */

body {
    background-color: var(--colorBlueSky);
    height: 100vh;
    width: 100vw;
    cursor: none;
/* para impedir a seleção de textos e quebrar a jogabilidade */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


/* main */

main {
    height: 85%;
    display: flex;
    justify-content: center;
    align-self: center;
}



/* footer | hootbar */

footer {
    height: 15%;
    display: flex;
    justify-content: space-between;
}

footer > div {
    background-image: linear-gradient(180deg, var(--colorBgFooter1), var(--colorBgFooter2), var(--colorBgFooter3));
    border: 8px solid var(--colorBdFooter);
}

footer > div:nth-child(1) {
    border-radius: 0px 32px 0px 0px;
}

footer > div:nth-child(2) {
    border-radius: 32px 32px 0px 0px;
}

footer > div:nth-child(3) {
    border-radius: 32px 0px 0px 0px;
}


/* menu */

.menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.menu > button {
    width: 112px;
    margin: 0 2em;
    cursor: none;
    color: var(--black);
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 32px;
    border: 4px solid var(--colorBdFooter);
    background-color: var(--colorBlueSky);
    transition: all 0.3s ease-in;
}

.menu > button:hover {
    transform: scale(1.1);
}

.menu > button:active {
    transform: scale(0.9);
    background-color: var(--colorYellowAlvo);
}

.menu > div {
    width: 100%;
    padding: 1em 0.8em;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
}


/* hotbar */

.hotbar {
    padding: 0 2em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}